<h3>&nbsp;</h3>
<div class="container-fluid col-10 text-center">
    <h3>Total Spent This Year</h3>
    <h3>&nbsp;</h3>
    <div class="container-fluid col-9 text-center">
        <canvas id="totalSpentYearChart"></canvas>
    </div>
    <h3>&nbsp;</h3>
    <button class="btn btn-success mr-1" (click)="changeToSpentGraph()">Spent</button>
    <button class="btn btn-warning ml-1 mr-1" (click)="changeToWastedGraph()">Wasted</button>
    <button class="btn btn-primary mrl-1" (click)="changeToUsedGraph()">Used</button>

</div>
